@font-face {
    font-family: 'SVN-Aguda';
    src: url('SVN-AgudaBlack.woff2') format('woff2'),
        url('SVN-AgudaBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aguda';
    src: url('SVN-AgudaBold.woff2') format('woff2'),
        url('SVN-AgudaBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aguda';
    src: url('SVN-Aguda.woff2') format('woff2'),
        url('SVN-Aguda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SVN-Aguda';
    src: url('SVN-AgudaLight.woff2') format('woff2'),
        url('SVN-AgudaLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

